header, footer, aside, nav, form, iframe, .menu, .hero, .adslot 
{
    display: none;
}

@media screen
{
    p.bodyText { font-family: verdana, arial, sans-serif;}
}

@media screen
{
    p.bodyText { font-family: georgia, times, serif;}
}

@media screen, print
{
    p.bodyText { font-size: 10pt;}
}
